/* .home {
  min-height: calc(100vh - 64px);
} */
@media only screen and (max-width: 1024px) {
  .home, .products {
    margin-left: 3.6rem;
  }
}

.widgetLgButton.Approved{
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.Declined{
  background-color: #fff0f1;
  color: #d95087;
}
.widgetLgButton.Pending{
  background-color: #ebf1fe;
  color: #2a7ade;
}