@tailwind base;
@tailwind components;
@tailwind utilities;

@import './topbar.css';
@import './home.css';

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}
.display {
  flex: 4;
} 
@media (min-width: 1024px) { 
  .sidebar-wrap {
    flex: 1;
  }
}

.modal {
  top: 30%;
  left: 50%;
  max-width: 20rem;
}

@media only screen and (max-width: 600px) {
  .modal {
    left: 20%;
  }
}
