@tailwind base;
@tailwind components;
@tailwind utilities;

@import './topbar.css';

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.display {
  flex: 4;
} 
@media (min-width: 1024px) { 
  .sidebar-wrap {
    flex: 1;
  }
}

.home {
  min-height: calc(100vh - 64px)
}