/* TOP BAR CONTAINER */
.sidebar-wrap, 
.sidebar-mobile .page ul {
  background-color: #0B2559;
  color: #9BA8C5;
}
.sidebar-wrap h1,
.sidebar-mobile .page ul .trigger {
  color: #5371E8;
}

.topbarIconContainer ul:before {
  content: "";
  position: absolute;
  top: -18px;
  right: 15.5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 12px solid rgb(245, 243, 255);;
}

.topbarIconContainer .notification:before {
  right: 65px;
}

.sidebar-mobile {
  z-index: 1;
}

.page {
  width: 100%;
  height: 100%;
}

/*
.content {
  width: calc(100% - 500px);
  margin-left: auto;
  padding: 15px;
  height: 100%;
  word-break: break-word;
}
*/

.sidebar {
  
  position: fixed;
  top: 0;
  width: 60px;
  height: 100vh;
  transition: width 0.3s ease;
  padding-top: 15px;
}

.sidebar .link {
  display: flex;
  align-items: center;
} 

.sidebar span {
  width: 0;
  height: 0;
  transition: width 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 200px;
  transition: width 0.3s ease;
}

.sidebar--open .link span {
  display: block;
  width: 100%;
  height: auto;
}

.trigger {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
}
