/* TOP BAR CONTAINER */
.topbarIconContainer ul:before {
  content: "";
  position: absolute;
  top: -18px;
  right: 15.5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 12px solid rgb(245, 243, 255);;
}

.topbarIconContainer .notification:before {
  right: 65px;
}

/* .sidebar-mobile .page .sidebar-wrapper, */
.sidebar-wrap .sidebar-wrapper {
  position: relative;
  animation: rotate 3s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(72deg)
  }
  40% {
    transform: rotate(144deg)
  }
  60% {
    transform: rotate(216deg)
  }
  80% {
    transform: rotate(288deg)
  }
  100% {
    transform: rotate(360deg)
  }
}




.page {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 60px;
  height: 100vh;
  transition: width 0.3s ease;
  padding-top: 15px;
}

.sidebar .link {
  display: flex;
  align-items: center;
} 

.sidebar span {
  width: 0;
  height: 0;
  transition: width 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 200px;
  transition: width 0.3s ease;
}

.sidebar--open .link span {
  display: block;
  width: 100%;
  height: auto;
}

.trigger {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
}
